.App {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex: 1 0 0;
  flex-direction: column;
  color: #333;
  padding: 5px 0;
}

.App br {
  display: block;
}

.App > label {
  display: block;
  font-size: large;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 5px;
  border: solid 1px #ccc;
  border-left: solid 5px #0379D4;
}

.App-Entry {
  margin-top: -5px;
}

.App-Entry input {
  outline: none;
  border: none;
  background-color: #EFEFEF;
  color: black;
  padding: 5px;
  width: 250px;
}

.App-Entry button {
  background-color: #0379D4;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 20px;
}

.App-Entry button:focus, .App-Entry button:hover {
  background-color: #03A9F4;
}